@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", "Poppins";
}

body {
  line-height: 1.6;
  color: #333;
}

/* Custom Scrollbar Style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

/* -------------------------- Header ----------------------- */

.header {
  background: transparent;
  color: #fff;
  padding: 0 5%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  text-transform: uppercase;
  font-weight: bold;
}

.header.scrolled {
  background: #13313c;
  opacity: 0.9;
  transition: 0.9s;
}

/* -------------------- Hero Section ---------------------- */

.hero {
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../img/ban-bac.webp");
  /* background-size: cover; */
  background-position: center;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.hero h1, .hero p {
  max-width: 90%;
  text-align: center;
}

.cta {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #11a3dd;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;

}

.cta:hover {
  background: #5fc0e7;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  position: relative;
  color: #11a3dd;
  display: inline-block;
  padding: 10px 15px;
}

.nav-links li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #ff8f00;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li:nth-child(4){
  display: none;
}

.contact-list {
  display: none;
}

.menu-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.contact-toggle {
  padding: 10px 20px;
  background: #11a3dd;
  font-weight: bold;
  border-radius: 5px;  
}

.contact-toggle:hover {
  background: #5fc0e7;
}

/* -------------------- Section Containers ---------------------- */

.section-container {
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  align-items: center;
  justify-content: center;  
}

.section-header {
  position: relative;
  margin: 1% auto;
}

.section-header::after {
  content: "";
  background-color: #ff8f00;
  position: absolute;
  height: 3px;
  width: 50%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* ------------------------- Services Section ------------------------ */
.service-container {
  display: block;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin: 5% 0;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.service-text {
  width: 50%;
  padding: 2%;
}

.service-img {
  width: 50%;
}

.service-img {
  overflow: hidden;
}

.service-img img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.service-img:hover img {
  transform: scale(1.05);
}

.dry-clean, .pick-up {
  order: -1;
}

/* ------------------- About Section ---------------------------*/
.about {
  background: #ddd;
  text-align: center;
}

.about p {
  width: 75%;
}

/* -------------------------- Testimonial Section ------------------- */
.testimonial-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
  gap: 3%;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  min-width: 80vw;
}

.card {
  flex: 0 0 auto;
  width: 38%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-body {
  padding: 4%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-footer {
  margin: 10% auto;
  color: #ff8f00;
  font-weight: 800;
}

/* -------------------------- Contact Section ------------------- */
.contact {
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  background: #11a3dd;
  color: #fff;
  align-items: center;
}

iframe {
  margin: 0;
}

/* ------------------------------ Footer -------------------------- */
footer {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  background: #13313c;
  color: #fff;
}

.rights {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 2%;
}

.social-media {
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 2%;
}

/* ----------------------- Slide-up animation ------------------------ */

.hidden {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.3s, transform 0.3s;
}

.show {
  animation: slideUp 0.6s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------------- Responsive Styles --------------------- */
@media (max-width: 768px) {

  .nav-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #13313c;
    top: 100px;
    width: 100%;
    left: 0;
    padding: 25px 0;
    transform: translateY(-200%);
    transition: transform 0.5s;
  }

  .nav-links li:nth-child(4){
    display: inline-block;
  }

  .nav-links.active {
    transform: translateY(0);
    z-index: 2;
  }

  .contact-toggle {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .service-item {
    flex-direction: column;
  }

  .service-text {
    width: 90%;
  }
  
  .service-img {
    width: 90%;
  }
  
  .dry-clean, .pick-up {
    order: 2;
  }

  .card {
    width:75%;
  }

  footer {
    flex-direction: column;
    justify-content: center;
  }

  .social-media {
    width: 90%;
    order: -1;
  }
  .rights {
    width: 90%;
  }
}
